.container {
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.header h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.header img {
  max-width: 100%;
  height: auto;
}

.upload-file-image {
  margin-bottom: 20px;
}

.upload-file-image h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.upload-file-image input[type="file"] {
  margin-top: 10px;
}

.uploaded-image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.predicted-disease {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.predicted-disease span {
  color: red;
}

.prediction-message {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
